#root,
#__next {
  isolation: isolate;
}

.logo:before {
  content: "";
  display: block;
  background-image: url("/assets/marianne.svg");
  background-position:
    0 -0.046875rem,
    0 0,
    0 0;
  background-size:
    2.0625rem 0.84375rem,
    2.0625rem 0.75rem,
    0;
  height: 0.75rem;
  margin-bottom: 0.25rem;
  width: 2.0625rem;
}

.logo:after {
  content: "";
  display: block;
  background-image: url("/assets/devise.svg");
  background-repeat: no-repeat;

  background-position: 0 calc(100% + 0.008rem);
  background-size: 2.4rem 1.4rem;
  min-width: 1.96875rem;
  padding-top: 1.65625rem;
}

.navbar-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 18, 0.16);
}

.internal-link-footer {
  margin-right: 0.75rem;
}

.internal-link-footer:first-child {
  margin-left: 0;
}

.internal-link-footer:before {
  box-shadow: inset 0 0 0 1px #ddd;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.internal-link-footer:first-child:before {
  box-shadow: none;
  margin-right: 0;
}

.navbar-mobile-shadow {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.external-link-grey:after {
  content: url("/assets/external-link-grey.svg");
  vertical-align: middle;
  padding-left: 0.25rem;
}

.external-link-blue:after {
  content: url("/assets/external-link-blue.svg");
  vertical-align: middle;
  padding-left: 0.25rem;
}

/* Swiper override default styling */

.swiper-slide {
  display: flex !important;
  height: auto !important;
  justify-content: center;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background: #000091 !important;
  /* fake an outline with 2 box-shadows to prevent old safari not supporting rounded outlines */
  box-shadow:
    0 0 0 3px white,
    0 0 0 4px #000091;
}

/**
 * page content styles to easily write pure html without having to deal with tailwind css/react components
 * most of this is taken from the DSFR styles, just prefixed with a class to only use them on content pages */
.page-content h4 {
  font-size: 1.375rem;
}

.page-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.page-content :where(h2, h3) {
  font-weight: 700;
  margin: 0 0 1.5rem;
}

.page-content h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.page-content h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
}

@media (min-width: 48em) {
  .page-content h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .page-content h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .page-content h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .page-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.page-content :where(h2, h3, h4):not(:first-child) {
  margin-top: 3rem;
}

.page-content p {
  margin-bottom: 1.5rem;
}

.page-content ul {
  list-style: disc;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}
