#root,
#__next {
  isolation: isolate;
}

.logo:before {
  content: '';
  display: block;
  background-image: url('/assets/marianne.svg');
  background-position:
    0 -0.046875rem,
    0 0,
    0 0;
  background-size:
    2.0625rem 0.84375rem,
    2.0625rem 0.75rem,
    0;
  height: 0.75rem;
  margin-bottom: 0.25rem;
  width: 2.0625rem;
}

.logo:after {
  content: '';
  display: block;
  background-image: url('/assets/devise.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 1.7857142857142858rem;
  margin-top: 0.25rem;
}

.logo-footer:before {
  content: '';
  display: block;
  background-image: url('/assets/marianne.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.25rem;
  margin-bottom: 0.2rem;
  width: 3rem;
}

.logo-footer:after {
  content: '';
  display: block;
  background-image: url('/assets/devise.svg');
  background-repeat: no-repeat;
  background-size: contain;

  height: 2.313rem;
  margin-top: 0.2rem;
  width: 3.25rem;
}

.navbar-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 18, 0.16);
}

.internal-link-footer {
  margin-right: 0.75rem;
}

.internal-link-footer:first-child {
  margin-left: 0;
}

.internal-link-footer:before {
  box-shadow: inset 0 0 0 1px #ddd;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.logo-footer-separator:after {
  box-shadow: inset 0 0 0 1px #000000;
  content: '';
  display: inline-block;
  height: 5rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.internal-link-footer:first-child:before {
  box-shadow: none;
  margin-right: 0;
}

.navbar-mobile-shadow {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.external-link-grey:after {
  content: url('/assets/link-grey.svg');
  vertical-align: middle;
  padding-left: 0.25rem;
}

.external-link-blue:after {
  content: url('/assets/link-blue.svg');
  vertical-align: middle;
  padding-left: 0.25rem;
}

/* we use @apply rule here because we re-use the style for cms content that do not have classes
(see cms.css file) */
.underlined-link {
  @apply underline decoration-1 hover:decoration-2 transition ease-in-out duration-300 underline-offset-4;
}

/* Swiper override default styling */

.swiper-slide {
  display: flex !important;
  height: auto !important;
  justify-content: center;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background: #000091 !important;
  /* fake an outline with 2 box-shadows to prevent old safari not supporting rounded outlines */
  box-shadow:
    0 0 0 3px white,
    0 0 0 4px #000091;
}

/** decapcms preview fixes:
seems decapcms doesn't like some javascript that is used in the app,
dirty "fix" some styles so that it's at least readable */
.decapcms-preview .swiper-wrapper {
  display: flex;
  overflow: auto;
}

.decapcms-preview .swiper-pagination {
  display: none;
}
