#root,
#__next {
  isolation: isolate;
}

.logo:before {
  content: '';
  display: block;
  background-image: url('/assets/marianne.svg');
  background-position:
    0 -0.046875rem,
    0 0,
    0 0;
  background-size:
    2.0625rem 0.84375rem,
    2.0625rem 0.75rem,
    0;
  height: 0.75rem;
  margin-bottom: 0.25rem;
  width: 2.0625rem;
}

.logo:after {
  content: '';
  display: block;
  background-image: url('/assets/devise.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 1.7857142857142858rem;
  margin-top: 0.25rem;
}

.logo-footer:before {
  content: '';
  display: block;
  background-image: url('/assets/marianne.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.25rem;
  margin-bottom: 0.2rem;
  width: 3rem;
}

.logo-footer:after {
  content: '';
  display: block;
  background-image: url('/assets/devise.svg');
  background-repeat: no-repeat;
  background-size: contain;

  height: 2.313rem;
  margin-top: 0.2rem;
  width: 3.25rem;
}

.navbar-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 18, 0.16);
}

.internal-link-footer {
  margin-right: 0.75rem;
}

.internal-link-footer:first-child {
  margin-left: 0;
}

.internal-link-footer:before {
  box-shadow: inset 0 0 0 1px #ddd;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.logo-footer-separator:after {
  box-shadow: inset 0 0 0 1px #000000;
  content: '';
  display: inline-block;
  height: 5rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.internal-link-footer:first-child:before {
  box-shadow: none;
  margin-right: 0;
}

.navbar-mobile-shadow {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.external-link-grey:after {
  content: url('/assets/link-grey.svg');
  vertical-align: middle;
  padding-left: 0.25rem;
}

.external-link-blue:after {
  content: url('/assets/link-blue.svg');
  vertical-align: middle;
  padding-left: 0.25rem;
}

/* we use @apply rule here because we re-use the style for cms content that do not have classes
(see cms.css file) */
.underlined-link {
  @apply underline decoration-1 hover:decoration-2 transition ease-in-out duration-300 underline-offset-4;
}

/* Swiper override default styling */

.swiper-slide {
  display: flex !important;
  height: auto !important;
  justify-content: center;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background: #000091 !important;
  /* fake an outline with 2 box-shadows to prevent old safari not supporting rounded outlines */
  box-shadow:
    0 0 0 3px white,
    0 0 0 4px #000091;
}

/* grist summit: all the 'min-content' rows are for 'doors opening', 'coffee break', etc rows, and for rows explaining the rooms */
.grist-summit-agenda-grid {
  grid-template-rows:
    min-content
    repeat(2, minmax(0, 1fr))
    min-content min-content
    repeat(8, minmax(0, 1fr))
    min-content
    repeat(2, minmax(0, 1fr))
    min-content
    repeat(4, minmax(0, 1fr))
    min-content
    min-content
    repeat(5, minmax(0, 1fr))
    min-content;
}

.lasuite-gaufre-btn--vanilla.lasuite-gaufre-btn--small {
  min-height: 2.5rem !important;
  max-width: 2.5rem !important;
  max-height: 2.5rem !important;
}

.lasuite-gaufre-btn {
  box-shadow: 0px 0px 0px 0px inset !important;
}

.lasuite-hero-boxshadow {
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.6s ease;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-right {
    animation: fadeInRight 0.2s ease-in;
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-left {
    animation: fadeInLeft 0.2s ease-in;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-down {
    animation: fadeInDown 0.3s ease-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  .transition-all {
    transition: none;
  }
}

/** decapcms preview fixes:
seems decapcms doesn't like some javascript that is used in the app,
dirty "fix" some styles so that it's at least readable */
.decapcms-preview .swiper-wrapper {
  display: flex;
  overflow: auto;
}

.decapcms-preview .swiper-pagination {
  display: none;
}
