body {
  background-color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-title;
}

strong {
  @apply text-grey-2;
}

[id] {
  scroll-margin-top: 6.5rem;
}

/* workaround to prevent focus-visible styles being applied when clicking on a tab
 * @see https://github.com/tailwindlabs/headlessui/issues/3053#issuecomment-2017665353
 */
[data-headlessui-state]:not([data-headlessui-state*='focus']) {
  outline-style: none;
}
