/**
 * page content styles to easily write pure html without having to deal with tailwind css/react components
 * most of this is taken from the DSFR styles, just prefixed with a class to only use them on content pages */
.content-page h4 {
  font-size: 1.375rem;
}

.content-page h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content-page :where(h2, h3) {
  font-weight: 700;
  margin: 0 0 1.5rem;
}

.content-page h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.content-page h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
}

@media (min-width: 48em) {
  .content-page h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .content-page h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .content-page h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .content-page h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.content-page :where(h2, h3, h4):not(:first-child) {
  margin-top: 3rem;
}

.content-page p {
  margin-bottom: 1.5rem;
}

.content-page ul {
  list-style: disc;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.content-page a:not([class]) {
  @apply underlined-link;
}

.cms-block-bg--blue {
  background-color: #f4f4fe;
}
.cms-block-bg--red {
  background-color: #fef4f4;
}
.cms-block-bg--yellow {
  background-color: #fef6e3;
}
.cms-block-bg--green {
  background-color: #e6feda;
}
.cms-block-bg--orange {
  background-color: #fef4f2;
}
.cms-block-bg--rose {
  background-color: #fef4f3;
}

.cms-block {
  padding: 6rem 0;
}

.cms-block > .fr-container > h2 {
  font-size: 2rem;
}

.cms-text-width > * {
  width: 100%;
  max-width: 54rem;
}

.cms-content > p > svg:only-child,
.cms-content > p > img:only-child,
.cms-content > svg,
.cms-content > img {
  margin: auto;
  display: block;
}

@media (min-width: 48em) {
  .cms-block > .fr-container > h2 {
    font-size: 2.25rem;
  }

  .cms-answer p,
  .cms-content > p {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
}

/* selectors are doubled because DSFR styles are loaded _after_ this one (next doesn't let us easily load global stylesheets in components) */
.cms-testimony.cms-testimony {
  padding-left: 0;
  background-image: none;
}

.cms-testimony.cms-testimony blockquote p {
  font-weight: normal;
}

.cms-testimony.cms-testimony .fr-quote__author a {
  color: var(--text-title-blue-france);
}

.cms-image-link {
  background-image: none;
}

.cms-image-link.cms-image-link::after {
  content: none;
}

.communs-cms-content h2,
.communs-cms-content h3 {
  @apply text-xl font-bold mb-[1.75rem];
}

.communs-cms-content p {
  @apply text-lg mb-[1.75rem];
}

.communs-cms-content ul {
  @apply text-lg list-disc pl-10;
}
