:root {
	--c--theme--colors--secondary-text: #fff;
	--c--theme--colors--secondary-100: #fee9ea;
	--c--theme--colors--secondary-200: #fedfdf;
	--c--theme--colors--secondary-300: #fdbfbf;
	--c--theme--colors--secondary-400: #e1020f;
	--c--theme--colors--secondary-500: #c91a1f;
	--c--theme--colors--secondary-600: #5e2b2b;
	--c--theme--colors--secondary-700: #3b2424;
	--c--theme--colors--secondary-800: #341f1f;
	--c--theme--colors--secondary-900: #2b1919;
	--c--theme--colors--info-text: #0078f3;
	--c--theme--colors--info-100: #E8EDFF;
	--c--theme--colors--info-200: #DDE5FF;
	--c--theme--colors--info-300: #BCCDFF;
	--c--theme--colors--info-400: #518FFF;
	--c--theme--colors--info-500: #0078F3;
	--c--theme--colors--info-600: #0063CB;
	--c--theme--colors--info-700: #273961;
	--c--theme--colors--info-800: #222A3F;
	--c--theme--colors--info-900: #1D2437;
	--c--theme--colors--greyscale-100: #eee;
	--c--theme--colors--greyscale-200: #E5E5E5;
	--c--theme--colors--greyscale-300: #CECECE;
	--c--theme--colors--greyscale-400: #929292;
	--c--theme--colors--greyscale-500: #7C7C7C;
	--c--theme--colors--greyscale-600: #666666;
	--c--theme--colors--greyscale-700: #3A3A3A;
	--c--theme--colors--greyscale-800: #2A2A2A;
	--c--theme--colors--greyscale-900: #242424;
	--c--theme--colors--greyscale-000: #fff;
	--c--theme--colors--primary-100: #ECECFE;
	--c--theme--colors--primary-200: #E3E3FD;
	--c--theme--colors--primary-300: #CACAFB;
	--c--theme--colors--primary-400: #8585F6;
	--c--theme--colors--primary-500: #6A6AF4;
	--c--theme--colors--primary-600: #313178;
	--c--theme--colors--primary-700: #272747;
	--c--theme--colors--primary-800: #000091;
	--c--theme--colors--primary-900: #21213F;
	--c--theme--colors--success-100: #dffee6;
	--c--theme--colors--success-200: #b8fec9;
	--c--theme--colors--success-300: #88fdaa;
	--c--theme--colors--success-400: #3bea7e;
	--c--theme--colors--success-500: #1f8d49;
	--c--theme--colors--success-600: #18753c;
	--c--theme--colors--success-700: #204129;
	--c--theme--colors--success-800: #1e2e22;
	--c--theme--colors--success-900: #19281d;
	--c--theme--colors--warning-100: #fff4f3;
	--c--theme--colors--warning-200: #ffe9e6;
	--c--theme--colors--warning-300: #ffded9;
	--c--theme--colors--warning-400: #ffbeb4;
	--c--theme--colors--warning-500: #d64d00;
	--c--theme--colors--warning-600: #b34000;
	--c--theme--colors--warning-700: #5e2c21;
	--c--theme--colors--warning-800: #3e241e;
	--c--theme--colors--warning-900: #361e19;
	--c--theme--colors--danger-100: #FFE9E9;
	--c--theme--colors--danger-200: #FFDDDD;
	--c--theme--colors--danger-300: #FFBDBD;
	--c--theme--colors--danger-400: #FF5655;
	--c--theme--colors--danger-500: #F60700;
	--c--theme--colors--danger-600: #CE0500;
	--c--theme--colors--danger-700: #642626;
	--c--theme--colors--danger-800: #412121;
	--c--theme--colors--danger-900: #391C1C;
	--c--theme--colors--primary-text: #000091;
	--c--theme--colors--success-text: #1f8d49;
	--c--theme--colors--warning-text: #d64d00;
	--c--theme--colors--danger-text: #FFF;
	--c--theme--colors--primary-050: #F5F5FE;
	--c--theme--colors--primary-150: #F4F4FD;
	--c--theme--colors--greyscale-text: #303C4B;
	--c--theme--colors--greyscale-050: #F6F6F6;
	--c--theme--colors--greyscale-250: #ddd;
	--c--theme--colors--greyscale-350: #ddd;
	--c--theme--colors--greyscale-750: #353535;
	--c--theme--colors--greyscale-950: #1E1E1E;
	--c--theme--colors--greyscale-1000: #161616;
	--c--theme--colors--danger-050: #FFF4F4;
	--c--theme--colors--blue-500: #417DC4;
	--c--theme--colors--brown-500: #BD987A;
	--c--theme--colors--cyan-500: #009099;
	--c--theme--colors--gold-500: #C3992A;
	--c--theme--colors--green-500: #00A95F;
	--c--theme--colors--olive-500: #68A532;
	--c--theme--colors--orange-500: #E4794A;
	--c--theme--colors--purple-500: #A558A0;
	--c--theme--colors--red-500: #E1000F;
	--c--theme--colors--yellow-500: #B7A73F;
	--c--theme--colors--rose-500: #E18B76;
	--c--theme--font--sizes--h1: 2rem;
	--c--theme--font--sizes--h2: 1.75rem;
	--c--theme--font--sizes--h3: 1.5rem;
	--c--theme--font--sizes--h4: 1.375rem;
	--c--theme--font--sizes--h5: 1.25rem;
	--c--theme--font--sizes--h6: 1.125rem;
	--c--theme--font--sizes--l: 1rem;
	--c--theme--font--sizes--m: 0.8125rem;
	--c--theme--font--sizes--s: 0.75rem;
	--c--theme--font--sizes--xs: 0.75rem;
	--c--theme--font--sizes--sm: 0.875rem;
	--c--theme--font--sizes--md: 1rem;
	--c--theme--font--sizes--lg: 1.125rem;
	--c--theme--font--sizes--ml: 0.938rem;
	--c--theme--font--sizes--xl: 1.25rem;
	--c--theme--font--sizes--t: 0.6875rem;
	--c--theme--font--sizes--xl-alt: 5rem;
	--c--theme--font--sizes--lg-alt: 4.5rem;
	--c--theme--font--sizes--md-alt: 4rem;
	--c--theme--font--sizes--sm-alt: 3.5rem;
	--c--theme--font--sizes--xs-alt: 3rem;
	--c--theme--font--weights--thin: 100;
	--c--theme--font--weights--light: 300;
	--c--theme--font--weights--regular: 400;
	--c--theme--font--weights--medium: 500;
	--c--theme--font--weights--bold: 600;
	--c--theme--font--weights--extrabold: 800;
	--c--theme--font--weights--black: 900;
	--c--theme--font--families--base: Marianne;
	--c--theme--font--families--accent: Marianne;
	--c--theme--font--letterspacings--h1: normal;
	--c--theme--font--letterspacings--h2: normal;
	--c--theme--font--letterspacings--h3: normal;
	--c--theme--font--letterspacings--h4: normal;
	--c--theme--font--letterspacings--h5: 1px;
	--c--theme--font--letterspacings--h6: normal;
	--c--theme--font--letterspacings--l: normal;
	--c--theme--font--letterspacings--m: normal;
	--c--theme--font--letterspacings--s: normal;
	--c--theme--spacings--0: 0;
	--c--theme--spacings--xl: 2.5rem;
	--c--theme--spacings--l: 3rem;
	--c--theme--spacings--b: 1.625rem;
	--c--theme--spacings--s: 1rem;
	--c--theme--spacings--t: 0.5rem;
	--c--theme--spacings--st: 0.25rem;
	--c--theme--spacings--none: 0;
	--c--theme--spacings--auto: auto;
	--c--theme--spacings--bx: 2.2rem;
	--c--theme--spacings--full: 100%;
	--c--theme--spacings--4xs: 0.125rem;
	--c--theme--spacings--3xs: 0.25rem;
	--c--theme--spacings--2xs: 0.375rem;
	--c--theme--spacings--xs: 0.5rem;
	--c--theme--spacings--sm: 0.75rem;
	--c--theme--spacings--base: 1rem;
	--c--theme--spacings--md: 1.5rem;
	--c--theme--spacings--lg: 2rem;
	--c--theme--spacings--xxl: 3rem;
	--c--theme--spacings--xxxl: 3.5rem;
	--c--theme--spacings--4xl: 4rem;
	--c--theme--spacings--5xl: 4.5rem;
	--c--theme--spacings--6xl: 6rem;
	--c--theme--spacings--7xl: 7.5rem;
	--c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
	--c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
	--c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
	--c--theme--transitions--duration: 250ms;
	--c--theme--breakpoints--xs: 480px;
	--c--theme--breakpoints--sm: 576px;
	--c--theme--breakpoints--md: 768px;
	--c--theme--breakpoints--lg: 992px;
	--c--theme--breakpoints--xl: 1200px;
	--c--theme--breakpoints--xxl: 1400px;
	--c--theme--breakpoints--xxs: 320px;
	--c--theme--breakpoints--mobile: 768px;
	--c--theme--breakpoints--tablet: 1024px;
	--c--components--modal--width-small: 342px;
	--c--components--tooltip--padding: 4px 8px;
	--c--components--tooltip--background-color: var(--c--theme--colors--greyscale-1000);
	--c--components--button--medium-height: 40px;
	--c--components--button--medium-text-height: 40px;
	--c--components--button--border-radius: 4px;
	--c--components--button--small-height: 26px;
	--c--components--button--primary--background--color: var(--c--theme--colors--primary-text);
	--c--components--button--primary--background--color-hover: #1212ff;
	--c--components--button--primary--background--color-active: #2323ff;
	--c--components--button--primary--background--color-disabled: var(--c--theme--colors--greyscale-100);
	--c--components--button--primary--color: #fff;
	--c--components--button--primary--color-hover: #fff;
	--c--components--button--primary--color-active: #fff;
	--c--components--button--primary--color-focus-visible: #fff;
	--c--components--button--primary--disabled: var(--c--theme--colors--greyscale-500);
	--c--components--button--primary-text--background--color: var(--c--theme--colors--primary-text);
	--c--components--button--primary-text--background--color-hover: var(--c--theme--colors--greyscale-100);
	--c--components--button--primary-text--background--color-active: var(--c--theme--colors--primary-100);
	--c--components--button--primary-text--background--color-focus-visible: #fff;
	--c--components--button--primary-text--background--color-disabled: var(--c--theme--colors--greyscale-000);
	--c--components--button--primary-text--color: var(--c--theme--colors--primary-800);
	--c--components--button--primary-text--color-hover: var(--c--theme--colors--primary-800);
	--c--components--button--primary-text--disabled: var(--c--theme--colors--greyscale-400);
	--c--components--button--secondary--background--color-hover: #F6F6F6;
	--c--components--button--secondary--background--color-active: #EDEDED;
	--c--components--button--secondary--background--color-focus-visible: var(--c--theme--colors--greyscale-000);
	--c--components--button--secondary--background--disabled: var(--c--theme--colors--greyscale-000);
	--c--components--button--secondary--color: var(--c--theme--colors--primary-800);
	--c--components--button--secondary--border--color: var(--c--theme--colors--greyscale-300);
	--c--components--button--secondary--border--color-hover: var(--c--theme--colors--greyscale-300);
	--c--components--button--secondary--border--color-disabled: var(--c--theme--colors--greyscale-300);
	--c--components--button--secondary--disabled: var(--c--theme--colors--greyscale-400);
	--c--components--button--tertiary--background--color: var(--c--theme--colors--primary-100);
	--c--components--button--tertiary--background--color-focus-visible: var(--c--theme--colors--primary-100);
	--c--components--button--tertiary--background--color-hover: var(--c--theme--colors--primary-300);
	--c--components--button--tertiary--background--color-active: var(--c--theme--colors--primary-300);
	--c--components--button--tertiary--background--disabled: var(--c--theme--colors--primary-050);
	--c--components--button--tertiary--color: var(--c--theme--colors--primary-800);
	--c--components--button--tertiary--disabled: var(--c--theme--colors--primary-300);
	--c--components--button--tertiary-text--background--color-hover: var(--c--theme--colors--greyscale-100);
	--c--components--button--tertiary-text--color-hover: var(--c--theme--colors--primary-text);
	--c--components--button--tertiary-text--color: var(--c--theme--colors--primary-600);
	--c--components--button--danger--color-hover: white;
	--c--components--button--danger--background--color: var(--c--theme--colors--danger-600);
	--c--components--button--danger--background--color-hover: #FF2725;
	--c--components--button--danger--background--color-focus-visible: var(--c--theme--colors--danger-600);
	--c--components--button--danger--background--color-disabled: var(--c--theme--colors--greyscale-100);
	--c--components--button--danger--color-disabled: var(--c--theme--colors--greyscale-400);
	--c--components--datagrid--header--color: var(--c--theme--colors--greyscale-600);
	--c--components--datagrid--header--size: 12px;
	--c--components--datagrid--header--weight: 500;
	--c--components--datagrid--body--background-color-hover: var(--c--theme--colors--greyscale-100);
	--c--components--forms-checkbox--border-radius: 4px;
	--c--components--forms-checkbox--border-color: var(--c--theme--colors--primary-800);
	--c--components--forms-checkbox--background-color--hover: var(--c--theme--colors--greyscale-100);
	--c--components--forms-checkbox--border--color-disabled: var(--c--theme--colors--greyscale-200);
	--c--components--forms-checkbox--border--color: var(--c--theme--colors--primary-800);
	--c--components--forms-checkbox--background--disabled: var(--c--theme--colors--greyscale-200);
	--c--components--forms-checkbox--background--enable: var(--c--theme--colors--primary-800);
	--c--components--forms-checkbox--check--disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-checkbox--check--enable: var(--c--theme--colors--greyscale-000);
	--c--components--forms-checkbox--color: var(--c--theme--colors--primary-text);
	--c--components--forms-checkbox--label--color: var(--c--theme--colors--greyscale-1000);
	--c--components--forms-checkbox--label--size: var(--c--theme--font--sizes--sm);
	--c--components--forms-checkbox--label--weight: 500;
	--c--components--forms-checkbox--text--color: var(--c--theme--colors--greyscale-600);
	--c--components--forms-checkbox--text--size: var(--c--theme--font--sizes--s);
	--c--components--forms-checkbox--text--weight: 400;
	--c--components--forms-checkbox--text--color-disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-labelledbox--label-color--small: var(--c--theme--colors--greyscale-950);
	--c--components--forms-labelledbox--label-color--small--disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-labelledbox--label-color--big: var(--c--theme--colors--greyscale-950);
	--c--components--forms-labelledbox--label-color--big--disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-radio--border-color: var(--c--theme--colors--primary-800);
	--c--components--forms-radio--background-color: var(--c--theme--colors--greyscale-000);
	--c--components--forms-radio--accent-color: var(--c--theme--colors--primary-800);
	--c--components--forms-radio--accent-color-disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-switch--border--color-disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-switch--border--color: var(--c--theme--colors--primary-800);
	--c--components--forms-switch--handle-background-color: white;
	--c--components--forms-switch--handle-background-color--disabled: var(--c--theme--colors--greyscale-000);
	--c--components--forms-switch--rail-background-color--disabled: var(--c--theme--colors--greyscale-000);
	--c--components--forms-switch--accent-color: var(--c--theme--colors--primary-800);
	--c--components--forms-textarea--label-color--focus: var(--c--theme--colors--greyscale-1000);
	--c--components--forms-textarea--border-radius: 4px;
	--c--components--forms-textarea--border-color: var(--c--theme--colors--greyscale-400);
	--c--components--forms-textarea--box-shadow--color--hover: var(--c--theme--colors--greyscale-400);
	--c--components--forms-textarea--box-shadow--color--focus: var(--c--theme--colors--primary-800);
	--c--components--forms-textarea--value-color: var(--c--theme--colors--greyscale-950);
	--c--components--forms-textarea--value-color--disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-textarea--font-size: 14px;
	--c--components--forms-input--label-color--focus: var(--c--theme--colors--greyscale-1000);
	--c--components--forms-input--border-radius: 4px;
	--c--components--forms-input--border-color: var(--c--theme--colors--greyscale-400);
	--c--components--forms-input--box-shadow--color--hover: var(--c--theme--colors--greyscale-400);
	--c--components--forms-input--box-shadow--color--focus: var(--c--theme--colors--primary-800);
	--c--components--forms-input--value-color: var(--c--theme--colors--greyscale-950);
	--c--components--forms-input--value-color--disabled: var(--c--theme--colors--greyscale-300);
	--c--components--forms-input--font-size: 14px;
	--c--components--forms-select--label-color--focus: var(--c--theme--colors--greyscale-1000);
	--c--components--forms-select--item-font-size: 14px;
	--c--components--forms-select--border-radius: 4px;
	--c--components--forms-select--border-radius-hover: 4px;
	--c--components--forms-select--border-color: var(--c--theme--colors--greyscale-400);
	--c--components--forms-select--box-shadow--color--hover: var(--c--theme--colors--greyscale-400);
	--c--components--forms-select--box-shadow--color--focus: var(--c--theme--colors--primary-800);
	--c--components--forms-select--value-color: var(--c--theme--colors--greyscale-950);
	--c--components--forms-select--font-size: 14px;
	--c--components--badge--font-size: var(--c--theme--font--sizes--xs);
	--c--components--badge--border-radius: 4px;
	--c--components--badge--padding-inline: var(--c--theme--spacings--xs);
	--c--components--badge--padding-block: var(--c--theme--spacings--2xs);
	--c--components--badge--accent--background-color: var(--c--theme--colors--primary-100);
	--c--components--badge--accent--color: var(--c--theme--colors--primary-600);
	--c--components--badge--neutral--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--badge--neutral--color: var(--c--theme--colors--greyscale-600);
	--c--components--badge--danger--background-color: var(--c--theme--colors--danger-100);
	--c--components--badge--danger--color: var(--c--theme--colors--danger-600);
	--c--components--badge--success--background-color: var(--c--theme--colors--success-100);
	--c--components--badge--success--color: var(--c--theme--colors--success-600);
	--c--components--badge--warning--background-color: var(--c--theme--colors--warning-100);
	--c--components--badge--warning--color: var(--c--theme--colors--warning-600);
	--c--components--badge--info--background-color: var(--c--theme--colors--info-100);
	--c--components--badge--info--color: var(--c--theme--colors--info-600);
}
.cunningham-theme--dark{
	--c--theme--colors--greyscale-100: #182536;
	--c--theme--colors--greyscale-200: #303C4B;
	--c--theme--colors--greyscale-300: #555F6B;
	--c--theme--colors--greyscale-400: #79818A;
	--c--theme--colors--greyscale-500: #9EA3AA;
	--c--theme--colors--greyscale-600: #C2C6CA;
	--c--theme--colors--greyscale-700: #E7E8EA;
	--c--theme--colors--greyscale-800: #F3F4F4;
	--c--theme--colors--greyscale-900: #FAFAFB;
	--c--theme--colors--greyscale-000: #0C1A2B;
	--c--theme--colors--primary-100: #3B4C62;
	--c--theme--colors--primary-200: #4D6481;
	--c--theme--colors--primary-300: #6381A6;
	--c--theme--colors--primary-400: #7FA5D5;
	--c--theme--colors--primary-500: #8CB5EA;
	--c--theme--colors--primary-600: #A3C4EE;
	--c--theme--colors--primary-700: #C3D8F4;
	--c--theme--colors--primary-800: #DDE9F8;
	--c--theme--colors--primary-900: #F4F8FD;
	--c--theme--colors--success-100: #EEF8D7;
	--c--theme--colors--success-200: #D9F1B2;
	--c--theme--colors--success-300: #BDE985;
	--c--theme--colors--success-400: #A0E25D;
	--c--theme--colors--success-500: #76D628;
	--c--theme--colors--success-600: #5BB520;
	--c--theme--colors--success-700: #43941A;
	--c--theme--colors--success-800: #307414;
	--c--theme--colors--success-900: #225D10;
	--c--theme--colors--warning-100: #F7F3D5;
	--c--theme--colors--warning-200: #F0E5AA;
	--c--theme--colors--warning-300: #E8D680;
	--c--theme--colors--warning-400: #E3C95F;
	--c--theme--colors--warning-500: #D9B32B;
	--c--theme--colors--warning-600: #BD9721;
	--c--theme--colors--warning-700: #9D7B1C;
	--c--theme--colors--warning-800: #7E6016;
	--c--theme--colors--warning-900: #684D12;
	--c--theme--colors--danger-100: #F8D0D0;
	--c--theme--colors--danger-200: #F09898;
	--c--theme--colors--danger-300: #F09898;
	--c--theme--colors--danger-400: #ED8585;
	--c--theme--colors--danger-500: #E96666;
	--c--theme--colors--danger-600: #DD6666;
	--c--theme--colors--danger-700: #C36666;
	--c--theme--colors--danger-800: #AE6666;
	--c--theme--colors--danger-900: #9D6666;
}
