/* code taken from @gouvfr/dsfr
 *
 * This file contain styles that are copy/paste from the DSFR.
 *
 * It's included after tailwind classes to prevent specifity issues,
 * but before our own classes in case we want to override specific things.
 */

.fr-enlarge-link {
  position: relative;
}

.fr-enlarge-link a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fr-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* note this breakpoint is slightly different than the one of the dsfr (2em diff) */
@media screen(lg) {
  .fr-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 78em) {
  .fr-container {
    max-width: 78rem;
  }
}
