@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Regular-subset.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Regular_Italic-subset.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Medium-subset.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Bold-subset.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-ExtraBold-subset.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
