@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Thin-subset.woff2")
    format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Thin_Italic-subset.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Light-subset.woff2")
    format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Light_Italic-subset.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Regular-subset.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Regular_Italic-subset.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Medium-subset.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Medium_Italic-subset.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Bold-subset.woff2")
    format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-Bold_Italic-subset.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-ExtraBold-subset.woff2")
    format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: Marianne;
  src: url("../../public/assets/fonts/subsetted/Marianne-ExtraBold_Italic-subset.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}
