@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

[tabindex]:focus,
a:focus,
button:focus {
  outline-color: #0a76f6;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.logo:before {
  content: "";
  display: block;
  background-image: url("../../public/marianne.svg");
  background-position:
    0 -0.046875rem,
    0 0,
    0 0;
  background-size:
    2.0625rem 0.84375rem,
    2.0625rem 0.75rem,
    0;
  height: 0.75rem;
  margin-bottom: 0.25rem;
  width: 2.0625rem;
}

.logo:after {
  content: "";
  display: block;
  background-image: url("../../public/devise.svg");
  background-repeat: no-repeat;

  background-position: 0 calc(100% + 0.008rem);
  background-size: 2.4rem 1.4rem;
  min-width: 1.96875rem;
  padding-top: 1.65625rem;
}

.navbar-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 18, 0.16);
}

.internal-link-footer {
  margin-right: 0.75rem;
}

.internal-link-footer:first-child {
  margin-left: 0;
}

.internal-link-footer:before {
  box-shadow: inset 0 0 0 1px #ddd;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
  vertical-align: middle;
  width: 1px;
}

.internal-link-footer:first-child:before {
  box-shadow: none;
  margin-right: 0;
}

.navbar-mobile-shadow {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.external-link-grey:after {
  content: url("../../public/assets/icons/external-link-grey.svg");
  vertical-align: middle;
  padding-left: 0.25rem;
}

.external-link-blue:after {
  content: url("../../public/assets/icons/external-link-blue.svg");
  vertical-align: middle;
  padding-left: 0.25rem;
}

/* Swiper override default styling */

.swiper-slide {
  display: flex !important;
  height: auto !important;
  justify-content: center;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background: #000091 !important;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #000091;
}
